.h1 {
    text-align: center;
    
}

.main {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(151, 225, 255);
}

#bottom {
    background-color: white;
}
.top {
    margin-top: 50px;
}

